/* Estilos para el contenedor de la tarjeta */
.card-container {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
  }
  
  /* Estilos para el título de la tarjeta */
  .card-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  /* Estilos para la imagen de la tarjeta */
  .card-image {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  /* Estilos para la descripción de la tarjeta */
  .card-description {
    font-size: 16px;
  }
  