.Fetching{
    background: linear-gradient(to right, rgba(0, 191, 255, 0.75), rgba(255, 0, 255, 0.5));
    height: 60%;
    width: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 1%;
    }

.title {
    font-size: 30px;
    padding: 10px 20px;
    text-align: center;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
  }

  .albums-style {
    color: white;
    cursor: pointer;
  }

  .albums-style:hover {
    color: black;
    text-shadow: 2px;
    cursor: pointer;
  }